
<div class="row">
  <div class="mx-auto  col-lg-3">
    <form [formGroup]="signupFrom" (ngSubmit)="signup(signupFrom)  " autocomplete="off" >
      <div formGroupName="personalDetails">
        <div>
          <label>Username:</label>
          <input type="text" class="form-control" placeholder="Username" formControlName="username" />
          <span *ngIf="signupFrom.get('personalDetails.username').invalid  &&
          signupFrom.get('personalDetails.username').dirty" >The username must be at least 6 characters long. </span>
        </div>



        <div>
          <label>Password :</label>
          <input type="password" class="form-control" placeholder="Password" formControlName="password"  autocomplete="off"/>
          <span *ngIf="signupFrom.get('personalDetails.password').invalid  &&
          signupFrom.get('personalDetails.password').dirty" >password Must be at least 8 characters long and include
          lowercase and uppercase letters,numbers,special characters. </span>

        </div>

        <div>
          <label>Email :</label>
          <input type="email" class="form-control" placeholder="Email" formControlName="email" />
          <span *ngIf="signupFrom.get('personalDetails.email').invalid  &&
          signupFrom.get('personalDetails.email').dirty" >Email format (example@example.com) </span>
        </div>



      </div>
      <button type="submit"   [disabled]="!signupFrom.valid " class="btn btn-outline-success  mt-4"  >
         Sign Up
       </button>
     </form>
  </div>
</div>
